@import url(../style.css);


.janela_principal{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
}

.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2em;
    max-width: 230px;
}

.icon_img{
    max-width: 50px;
}


.text__entry{
    background-color: var(--color-fundo-item);
    border: 2px solid var(--color-borda-item);
    font-size: 1em;
    width: 100%;
    outline: none;
    color: var(--color-texto-primeiro);
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 1em 0em 0em 0em;
}

.text__entry::placeholder{
    color: var(--color-texto-secundario);
    text-align: center;
}



.lista__tarefas{
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0px;

}

.lista__tarefas__item{
    display: flex;
    list-style: none;
    border: 1px solid;
    border-color: var(--color-borda-item);
    background-color: var(--color-fundo-item);
    color: var(--color-texto-secundario);
    align-items: center;
    margin: 1em 0em;

}


.item__icone{
    margin: 1em;
    width: 2em;
    height: 2em;
    min-width: 10%;
}

.feito{
    background: url(../assets/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-texto-primeiro);
}



.Nfeito{
     background: url(../assets/no_check.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-texto-secundario);
}

.lista__tarefas__item{
    color: var(--color-texto-primeiro);
    display: flex;
    justify-content: space-between;
}

.item__texto{
    margin: 0.2em;
    overflow-wrap: break-word;
   flex-grow: 1;
   text-wrap: wrap;
   overflow-wrap: break-word;
   max-width: 50%;
}

.item__texto{
    
}
.item__excluir{
    min-width: 10%;
    background:none;
    color: var(--color-texto-primeiro);
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;


}

.buttonAdd{
    margin: 1em 0;
    width: 100%;
    padding: 1em;
    color: var(--color-texto-primeiro);
    font-weight: bold;
    background-color: var(--color-fundo-item);
    border-color: var(--color-borda-item);font-size: 1em;
}

.buttonAdd:disabled{
    color: var(--color-texto-secundario);
}

.text__att{
    color: rgb(241, 53, 53);
    margin: 2px;
    text-align: justify;
    width: 100%;
    display: none;
   
}

.item__icone__img{
    max-width:100%;
}

