




.home{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 800PX;
    margin: auto;
}

.home__title{
    color: var(--color-preto);
    font-family: var(--font-principal);
    font-size: 3em;
    margin-bottom: 0.1em;
}

.home__title__span{
    color: var(--color-laranja);
}

.home__search{
    padding: 0.3em 1em;
    min-width: 70%;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-preto);
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

